<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csci4540.ecu.komper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_komper"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_komper"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />
        <uses-feature
            android:name="android.permission.WRITE_INTERNAL_STORAGE" />

        <activity
            android:name=".activities.SignInActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activities.grocerylist.ListGroceryListActivity"
            android:label="@string/label_grocerylist">
            <!--android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".activities.grocerylist.AddGroceryListActivity"
            android:label="@string/label_create_new_grocerylist" />
<!--
            android:parentActivityName=".activities.grocerylist.ListGroceryListActivity" />
-->


        <activity android:name=".activities.grocerylist.LIstItemListActivity"
            android:label="@string/label_itemlist"
            android:parentActivityName=".activities.grocerylist.ListGroceryListActivity"/>

        <activity android:name=".activities.grocerylist.AddItemActivity"
            android:label="@string/label_add_newitem" />
<!--
            android:parentActivityName=".activities.grocerylist.LIstItemListActivity" />
-->
        <activity android:name=".activities.searchresult.StoreActivity"
            android:label="Select Store"/>
        <activity android:name=".activities.searchresult.PriceResultActivity"
            android:label="Search Result"/>
        <activity android:name=".activities.searchresult.ItemPriceActivity"
            android:label="Item Price Detail" />
        <activity android:name=".activities.searchresult.CheckoutActivity"
            android:label="Checkout Item" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="csci4540.ecu.komper.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>